@font-face { /* @font-face เข้าถึง font ที่โหลด*/
    src: url(../font/Mitr-Regular.ttf); /* keyword src : url(กำหนด path); */
    font-family: Mitr;
}
* {
    margin: 0;
    padding: 0;
    font-family:  Mitr;
}
/* menu */
.main-menu {
    max-width: 960px;
    margin: 0 auto;
}
/* menu */





/*  */
.main-greeting {
    max-width: 960px;
    margin: 0 auto; 
}
.main-greeting .p1 {
    text-align: center;
    padding: 20px 0;
    margin-left: 38px;
    color: rgba(46, 44, 44, 0.3);
    letter-spacing: 5px;
}




/*  */
.main-table {
    max-width: 480px;
    margin: 0 auto;
}
.main-table .date {
    text-align: right;
}
.main-table .answer {
    padding: 20px 0px;
    text-align: center;
    letter-spacing: 4px;
}
.main-table h4 {
    text-align: center;
}




/*  */
.container-form {
    padding: 40px 40px 0px 0px;
    max-width: 340px;
    margin: 0 auto;
    min-height: calc(100vh - 400px);
}
.container-form .main-btn {
    margin-left: 107px;
    margin-top: 33px;
}
.p2 {
    text-align: center;
    padding: 0px 0px 10px 20px;
    margin-left: 38px;
    color: rgba(46, 44, 44, 0.3);
    letter-spacing: 5px;
   
}