@font-face { /* @font-face เข้าถึง font ที่โหลด*/
    src: url(../font/Mitr-Regular.ttf); /* keyword src : url(กำหนด path); */
    font-family: Mitr;
}
* {
    margin: 0;
    padding: 0;
    font-family:  Mitr;
}
/* menu */
.main-menu {
    max-width: 960px;
    margin: 0 auto;
}
/* menu */



/*  */
.main-greeting {
    max-width: 960px;
    margin: 0 auto; 
}
.main-greeting .p1 {
    text-align: center;
    padding: 10px 0;
    margin-left: 38px;
    color: rgba(46, 44, 44, 0.3);
}
/*  */



/* form */
.main-form {
    max-width: 315px;
    margin: 0 auto;
    font-size: 15px;
    min-height: calc(100vh - 200px);
}
.main-form .p2 {
    padding: 10px 0px;
    margin-bottom: 25px;
    margin-left: 86px;
    color: rgba(0, 0, 0, 0.322);
}
.main-form .main-detail {
    text-align: center;
}
.main-bt {
    padding: 25px 0px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}
.go-to {
    text-decoration: none;
}
.go-to:hover {
    color: aliceblue;
}
/* form */