@font-face {
    src: url("../font/Quicksand-Medium.ttf");
    font-family: Quicksand;
}
* {
    margin: 0;
    padding: 0;
    font-family: Quicksand;

}
/* menu */
.navbar-expand-lg .navbar-collapse {
    max-width: 600px;
    margin: 0 auto;
    padding: 5px 0px;
    flex-direction: column;
}
.fix-img {
    border-radius: 20px;
}

/* content */
.row {
    grid-gap: 20px 0px;
}



/* form set board */
#details {
    height: 300px;
}
#form-add-board {
    max-width: 600px;
    margin: 0 auto;
}
.message {
    width: 140px;
    border-radius: 50px;
    text-align: center;
    margin: 0 auto 20px;
    letter-spacing: 3px;
    font-size: 20px;
}
.btn-group {
    width: 250px;
    margin: 0 auto;
}